{% extends 'layout.twig' %}

{% block nav %}
    <!-- ====== Navbar ====== -->
    <nav class="navbar navbar-expand-lg fixed-top bg-primari">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand logo" href="index.html">
                <img src="http://localhost/Projet5/public/assets/images/logo.png" alt="logo">
            </a>
            <!-- // Logo -->
            <!-- Mobile Menu -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"><span><i class="fa fa-bars"></i></span></button>
            <!-- Mobile Menu -->
            <div class="collapse navbar-collapse main-menu margin" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="http://localhost/Projet5">ACCUEIL</a></li>
                    <li class="nav-item"><a class="nav-link active" href="http://localhost/Projet5/blog">BLOG</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if session.user is defined and session.user is not empty %}
                        <li class="nav-item"><img src="http://localhost/Projet5/{{ session.user.imagePath }}" class="avatar-img mt-2 mb-2" alt="Photo de profil"></li>
                        <li class="dropdown nav-link">
                            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bonjour {{ session.user.username }}</a>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="dropdown-item">{{ session.user.contactEmail }}</p>
                                <p class="dropdown-item">Membre depuis le {{ session.user.addingDate | date('d/m/Y') }}</p>
                                <div class="dropdown-divider"></div>
                                {% if 'ADMIN' in session.user.role %}<a class="dropdown-item" href="http://localhost/Projet5/admin">Espace administration</a>{% endif %}
                                <a class="dropdown-item" href="http://localhost/Projet5/logout">Se déconnecter</a> 
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="http://localhost/Projet5/login">Se connecter</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://localhost/Projet5/creer-un-compte">Créer un compte</a></li>
                    {% endif %}
                </ul>
                
            </div>
        </div>
    </nav>
{% endblock %}

{% block image %}
    <!-- Page Title -->
    <div class="page-title bg-img section-padding bg-overlay" style="background-image: url(assets/images/blog.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- // Page Title -->
{% endblock %}

{% block content %}
    <!-- ====== // Header ====== -->
    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-area">
                        <div class="row">
                            <!-- Single Blog -->
                            {% for post in posts %}
                                <div class="col-sm-4">
                                    <div class="single-blog">
                                        <div class="blog-thumb" style="background-image: url({{post.imagePath}})"></div>
                                        <h4 class="blog-title">{{post.title}}</h4>
                                        <p class="blog-meta">De {{post.author}}, publié le {{post.addingDate | date('d/m/Y')}}{{ post.modifDate != post.addingDate ? ', modifié le ' ~ post.modifDate | date("d/m/Y") }}, {{post.validComment}} Commentaire(s)</p>
                                        <p>{{post.teaser | slice(0, 200)}} [...]</p>
                                        <a href="blog/{{post.slug}}-{{post.id}}" class="button">Lire plus</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                            <!-- Single Blog -->
                        <div class="row justify-content-center">
                            <nav>
                                <ul class="pagination">
                                    <!-- Lien vers la page précédente (désactivé si on se trouve sur la 1ère page) -->
                                    <li class="page-item {{ currentPage == 1 ? "disabled" : "" }}">
                                        <a href="./blog?page={{ currentPage - 1 }}" class="page-link button blog-btn">Précédente</a>
                                    </li>
                                    {% for page in 1.. pages %}
                                        <!-- Lien vers chacune des pages (activé si on se trouve sur la page correspondante) -->
                                        <li class="page-item {{ currentPage == page ? "active" : "" }}">
                                            <a href="./blog?page={{ page }}" class="page-link button blog-btn">{{ page }}</a>
                                        </li>
                                    {% endfor %}
                                    <!-- Lien vers la page suivante (désactivé si on se trouve sur la dernière page) -->
                                    <li class="page-item {{ currentPage == pages ? "disabled" : "" }}">
                                        <a href="./blog?page={{ currentPage + 1 }}" class="page-link button blog-btn">Suivante</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}