{% extends 'layout.twig' %}

{% block image %}
    <!-- Page Title -->
    <div class="page-title bg-img section-padding bg-overlay" style="background-image: url(assets/images/blog.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2>Blog</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- // Page Title -->
{% endblock %}

{% block content %}
    <!-- ====== // Header ====== -->
    <section class="blog-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-area">
                        <div class="row">
                            <!-- Single Blog -->
                            {% for post in posts %}
                                <div class="col-sm-4">
                                    <div class="single-blog">
                                        <div class="blog-thumb" style="background-image: url({{post.imagePath}})"></div>
                                        <h4 class="blog-title">{{post.title}}</h4>
                                        <p class="blog-meta">De {{post.author}}, publié le {{post.addingDate | date('d/m/Y')}}{{ post.modifDate != post.addingDate ? ', modifié le ' ~ post.modifDate | date("d/m/Y") }}, {{post.validComment}} Commentaire(s)</p>
                                        <p>{{post.teaser | slice(0, 200)}} [...]</p>
                                        <a href="blog/{{post.slug}}-{{post.id}}" class="button">Lire plus</a>
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- Single Blog -->
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-lg-6 text-center">
                                <a href="#" class="button blog-btn">Load More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}