{% extends "layout.twig" %}

{% block content %}
</header>
    <!-- ====== Hero Area ====== -->
    <div class="hero-aria" id="home">
        <!-- Hero Area Content -->
        <div class="container">
            <div class="hero-content h-100">
                <div class="d-table">
                    <div class="d-table-cell">
                        <h2 class="text-uppercase">Emmanuel Mahé</h2>
                        <h3 class="text-uppercase"><span class="typed"></span></h3>
                        <a href="#about" class="button smooth-scroll">En savoir +</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- // Hero Area Content -->
        <!-- Hero Area Slider -->
        <div class="hero-area-slids owl-carousel">
            <div class="single-slider">
                <!-- Single Background -->
                <div class="slider-bg" style="background-image: url(public/assets/images/hero-area/accueil-1.jpg)"></div>
                <!-- // Single Background -->
            </div>
            <div class="single-slider">
                <!-- Single Background -->
                <div class="slider-bg" style="background-image: url(public/assets/images/hero-area/accueil-2.jpg)"></div>
                <!-- // Single Background -->
            </div>
        </div>
        <!-- // Hero Area Slider -->
    </div>
    <!-- ====== //Hero Area ====== -->

    <!-- ====== About Area ====== -->
    <section id="about" class="section-padding about-area bg-light">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center">
                        <h2>En savoir +</h2>
                        <p>Vous voulez en savoir plus sur moi ? Vous pouvez visiter mes réseaux sociaux ou téléchargez mon CV.</p>
                    </div>
                </div>
            </div>
            <!-- //Section Title -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-bg" style="background-image:url(public/assets/images/about-bg.jpg)">
                        <!-- Social Link -->
                        <div class="social-aria">
                            <a target="_blank" href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                            <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                            <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                        </div>
                        <!-- // Social Link -->
                    </div>
                    <div class="mt-3 text-center cta-button">
                        <a href="http://localhost/Projet5/cv" class="button">Télécharger mon CV</a>
                    </div>    
                </div>
                <div class="col-lg-6">
                    <div class="about-content">
                        <h2>Bonjour, je suis <span>Emmanuel Mahé</span></h2>
                        <h4>Développeur d'applications PHP/Symfony</h4>
                        <p>Titulaire d'un diplôme issu d'une formation Openclassrooms, développeur d'applications PHP/Symfony. Mes compétences se situent dans un périmètre qui va de Wordpress pour des sites virtrines à Symfony pour des applications web, API ou tests.</p>

                        <h5>Mes compétences</h5>

                        <!-- Skill Area -->
                        <div id="skills" class="skill-area">

                            <!-- Single skill -->
                            <div class="single-skill">
                                <div class="skillbar" data-percent="100%">
                                    <div class="skillbar-title"><span>PHP</span></div>
                                    <div class="skillbar-bar" style="width: 75%;"></div>
                                    <div class="skill-bar-percent">75%</div>
                                </div>
                            </div>
                            <!-- //Single skill -->

                            <!-- Single skill -->
                            <div class="single-skill">
                                <div class="skillbar" data-percent="85%">
                                    <div class="skillbar-title"><span>SYMFONY</span></div>
                                    <div class="skillbar-bar" style="width: 75%;"></div>
                                    <div class="skill-bar-percent">75%</div>
                                </div>
                            </div>
                            <!-- //Single skill -->

                            <!-- Single skill -->
                            <div class="single-skill">
                                <div class="skillbar" data-percent="50%">
                                    <div class="skillbar-title"><span>WORDPRESS</span></div>
                                    <div class="skillbar-bar" style="width: 60%;"></div>
                                    <div class="skill-bar-percent">60%</div>
                                </div>
                            </div>
                            <!-- //Single skill -->

                        </div>
                        <!-- //Skill Area -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== // About Area ====== -->

    <!-- ====== Service Section ====== -->
    <section id="service" class="section-padding pb-70 service-area bg-light">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center">
                        <h2>Services</h2>
                        <p>Un petit tour d'horizon sur les services que je peux vous proposer.</p>
                    </div>
                </div>
            </div>
            <!-- //Section Title -->

            <div class="row">
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="fa fa-code"></i>
                        </div>
                        <h2>Site vitrine</h2>
                        <p>La création d'un site vitrine peut-être le point de départ du développement de votre entreprise. Il est primordial pour les entreprises qui souhaitent passer à la vitesse supérieure et se créer une réelle place sur le marché.</p>
                    </div>
                </div>
                <!-- //Single Service -->
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="fa fa-chart-area"></i>
                        </div>
                        <h2>Application web</h2>
                        <p>Une application web est un site qui permet à ses utilisateurs d'accomplir des tâches spécifiques. Une application gère généralement des utilisateurs et toutes sortes de données selon les requis spécifiques au projet.</p>
                    </div>
                </div>
                <!-- //Single Service -->
                <!-- Single Service -->
                <div class="col-lg-4 col-md-6">
                    <div class="single-service">
                        <div class="service-icon">
                            <i class="fa fa-chart-line"></i>
                        </div>
                        <h2>API</h2>
                        <p>API est l'acronyme d'Application Programming Interface. Il s'agit d'un ensemble de fonctions qui facilitent, via un langage de programmation, l'accès aux services ou aux données d'une application.</p>
                    </div>
                </div>
                <!-- //Single Service -->
            </div>

        </div>
    </section>
    <!-- ====== //Service Section ====== -->

    <!-- ====== Blog Section ====== -->
    <section class="section-padding pb-70 blog-section bg-light">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center">
                        <h2>Articles récents</h2>
                        
                    </div>
                </div>
            </div>
            <!-- //Section Title -->
            <div class="row">
                <!-- Single Blog -->
                {% for post in posts %}
                    <div class="col-sm-4">
                        <div class="single-blog">
                            <div class="blog-thumb" style="background-image: url({{post.imagePath}})"></div>
                            <h4 class="blog-title">{{post.title}}</h4>
                            <p class="blog-meta">De {{post.author}}, publié le {{post.addingDate | date('d/m/Y')}}{{ post.modifDate != post.addingDate ? ', modifié le ' ~ post.modifDate | date("d/m/Y") }}, {{post.validComment}} Commentaire(s)</p>
                            <p>{{post.teaser | slice(0, 200)}} [...]</p>
                            <a href="blog/{{post.slug}}-{{post.id}}" class="button">Lire plus</a>
                        </div>
                    </div>
                {% endfor %}
                <!-- Single Blog -->
            </div>
            <div class="cta-button text-center mt-4">
            <a href="http://localhost/Projet5/blog" class="button">Accéder au Blog</a></div>
    </section>
    <!-- ====== // Blog Section ====== -->

    <!-- ====== Contact Area ====== -->
    <section id="contact" class="section-padding contact-section bg-secondary">
        <div class="container">
            <!-- Section Title -->
            <div class="row justify-content-center">
                <div class="col-lg-6 ">
                    <div class="section-title text-center">
                        <h2>Me contacter</h2>
                        <p>Vous recevrez une réponse dans les plus brefs délais.</p>
                    </div>
                </div>
            </div>
            <!-- //Section Title -->

            <!-- Contact Form -->
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <!-- Form -->
                    <form id="contact-form" action="http://localhost/Projet5/contact" method="post" class="contact-form bg-white">
                        <div class="row">
                            <div class="col-lg-6 form-group">
                                <input type="text" class="form-control" name="name" required placeholder="Nom" {{session ? 'readonly'}} value="{{session.user.username}}">
                            </div>
                            <div class="col-lg-6 form-group">
                                <input type="email" class="form-control" name="email" required placeholder="Email" {{session ? 'readonly'}} value="{{session.user.contactEmail}}">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" required placeholder="Sujet">
                        </div>

                        <div class="form-group">
                            <textarea name="message" id="" class="form-control" required placeholder="Message"></textarea>
                        </div>
                        <div class="form-btn text-center">
                            <button class="button" type="submit">Envoyer</button>
                            <p class="form-message"></p>
                        </div>
                    </form>
                    <!-- // Form -->
                </div>
            </div>
            <!-- // Contact Form -->
        </div>
    </section>
    <!-- ====== // Contact Area ====== -->
{% endblock %}