{% extends "layout.twig" %}

{% block nav %}
    <!-- ====== Navbar ====== -->
    <nav class="navbar navbar-expand-lg fixed-top bg-primari">
        <div class="container">
            <!-- Logo -->
            <a class="navbar-brand logo" href="index.html">
                <img src="http://localhost/Projet5/public/assets/images/logo.png" alt="logo">
            </a>
            <!-- // Logo -->
            <!-- Mobile Menu -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false"><span><i class="fa fa-bars"></i></span></button>
            <!-- Mobile Menu -->
            <div class="collapse navbar-collapse main-menu margin" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="http://localhost/Projet5">ACCUEIL</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost/Projet5/blog">BLOG</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if session.user is defined and session.user is not empty %}
                        <li class="nav-item"><img src="http://localhost/Projet5/{{ session.user.imagePath }}" class="avatar-img mt-2 mb-2" alt="Photo de profil"></li>
                        <li class="dropdown nav-link">
                            <button class="btn btn-outline-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Bonjour {{ session.user.username }}</a>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <p class="dropdown-item">{{ session.user.contactEmail }}</p>
                                <p class="dropdown-item">Membre depuis le {{ session.user.addingDate | date('d/m/Y') }}</p>
                                <div class="dropdown-divider"></div>
                                {% if 'ADMIN' in session.user.role %}<a class="dropdown-item" href="http://localhost/Projet5/admin">Espace administration</a>{% endif %}
                                <a class="dropdown-item" href="http://localhost/Projet5/logout">Se déconnecter</a> 
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="http://localhost/Projet5/login">Se connecter</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://localhost/Projet5/creer-un-compte">Créer un compte</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block image %}
<!-- Page Title -->
<div class="page-title bg-img section-padding bg-overlay" style="background-image: url(http://localhost/Projet5/public/assets/images/blog.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2><small>{{ post.title }}</small></h2>
            </div>
        </div>
    </div>
</div>
<!-- // Page Title -->
{% endblock %}

{% block content %}
    <section class="blog-section">
        <div class="container">
            <div class="row justify-content-center">
            {% if error %}<div class="alert alert-danger" role="alert">{{error}}</div>{% endif %}
            {% if comment is defined and comment.errors is empty %}
                <div class="alert alert-success" role="alert">
                    Votre commentaire sera ajouté après validation !
                </div>
            {% endif %}
                <!-- Blog Main Content -->
                <div class="col-lg-8">
                    <div class="blog-post">
                        <img src="../{{ post.imagePath }}" alt="" class="blog-img">
                        <h4 class="blog-title"><a href="#">{{ post.title }}</a></h4>
                        <p class="blog-meta"><span class="user-name">De {{ post.author }}</span><span class="blog-date">Publié le {{ post.addingDate | date("d/m/Y") }}</span><span class="blog-comment">{{ post.validComment }} Commentaire(s)</span></p>
                        <div class="blog-main-content">
                            <p><strong>{{ post.teaser }}</strong></p>
                            <div style="margin-top: 20px;"><p>{{ post.content | nl2br }}</p></div>
                        </div>
                        <!--  Blog Author -->
                        <div class="blog-author">
                            <div class="user-img" style="background-image: url(../public/assets/images/team/img-1.jpg)"></div>
                            <div class="user-content">
                                <h2>{{ post.author }} <span>Graphic designer</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptas hic animi officiis corrupti velit commodi sed tempora reprehenderit.</p>
                                <!-- Social Area -->
                                <div class="social-aria text-left">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-pinterest"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                                <!-- // Social Area -->
                            </div>
                        </div>
                        <!-- // Blog Author -->

                        <!-- Blog Comments -->
                        <div class="blog-comment">
                            <h3>{{ post.validComment }} Commentaire(s)</h3>
                            <ol class="main-comment">
                            {% for comment in comments %}
                                {% if comment.commentState == true %}
                                    <li class="single-comment">
                                        <!-- Comment Content -->
                                        <div class="comment">
                                            <div class="comment-user-img" style="background-image: url(../{{comment.userImagePath}})"></div>
                                            <div class="comment-content">
                                                <h4>{{ comment.username }}</h4>
                                                <p class="comment-date">{{ comment.commentDate | date('d/m/Y') }}</p>
                                                {% if comment.content == 'Message modéré par l\'administration' %}
                                                    <p><i>{{ comment.content }}</i></p>
                                                {% else %}
                                                    <p>{{ comment.content }}</p>
                                                {% endif %} 
                                            </div>
                                        </div>
                                        <!-- // Comment Content -->
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ol>
                            <!-- Blog Comment Form -->
                            <div class="blog-comment-form mt-5">
                            {% if session is empty %}
                            <p class="mb-2">Vous devez <a href="http://localhost/Projet5/login">vous connecter </a>ou <a href="http://localhost/Projet5/creer-un-compte">créer un compte </a>pour commenter un article.</p>
                            {% endif %}
                                <form action="" method="post">
                                    <input type="hidden" name="token" id="token" value="{{ session.token }}">
                                    {% if constant('models\\Comment::INVALID_USERNAME') in comment.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            Vous devez ajouter un Pseudo !
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12" style="padding-right:0px; padding-left:0px;">
                                        <p><input type="text" name="username" placeholder="Pseudo" {{session ? 'readonly'}} value="{{ session.user.username }}"></p>
                                    </div>
                                    {% if constant('models\\Comment::INVALID_CONTENT') in comment.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            Vous devez ajouter un commentaire !
                                        </div>
                                    {% endif %}
                                    <p><textarea name="content" placeholder="Commentaire">{{ comment.errors is not empty ? comment.content }}</textarea></p>
                                    <div class="comment-btn text-center">
                                        <button class="button" type="submit">Commenter</button>
                                    </div>
                                </form>
                            </div>
                            <!-- // Blog Comment Form -->
                        </div>
                        <!-- // Blog Comments -->

                    </div>
                </div>
                <!-- // Blog Main Content -->
            </div>
        </div>
    </section>
{% endblock %}