{% extends "layout.twig" %}

{% block image %}
<!-- Page Title -->
<div class="page-title bg-img section-padding bg-overlay" style="background-image: url(http://localhost/Projet5/public/assets/images/blog.jpg)">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 text-center">
                <h2><small>{{ post.title }}</small></h2>
            </div>
        </div>
    </div>
</div>
<!-- // Page Title -->
{% endblock %}

{% block content %}
    <section class="blog-section">
        <div class="container">
            <div class="row justify-content-center">
            {% if error %}<div class="alert alert-danger" role="alert">{{error}}</div>{% endif %}
            {% if comment is defined and comment.errors is empty %}
                <div class="alert alert-success" role="alert">
                    Votre commentaire sera ajouté après validation !
                </div>
            {% endif %}
                <!-- Blog Main Content -->
                <div class="col-lg-8">
                    <div class="blog-post">
                        <img src="../{{ post.imagePath }}" alt="" class="blog-img">
                        <h4 class="blog-title"><a href="#">{{ post.title }}</a></h4>
                        <p class="blog-meta"><span class="user-name">De {{ post.author }}</span><span class="blog-date">Publié le {{ post.addingDate | date("d/m/Y") }}</span><span class="blog-comment">{{ post.validComment }} Commentaire(s)</span></p>
                        <div class="blog-main-content">
                            <p><strong>{{ post.teaser }}</strong></p>
                            <div style="margin-top: 20px;"><p>{{ post.content | nl2br }}</p></div>
                        </div>
                        <!--  Blog Author -->
                        <div class="blog-author">
                            <div class="user-img" style="background-image: url(../public/assets/images/team/img-3.jpg)"></div>
                            <div class="user-content">
                                <h2>Emmanuel Mahé<span>Développeur web</span></h2>
                                <p>Fondateur du site, vous pouvez suivre mon actualité à travers les différents réseaux sociaux.</p>
                                <!-- Social Area -->
                                <div class="social-aria text-left">
                                    <a target="_blank" href="https://facebook.com"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="https://twitter.com"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                                </div>
                                <!-- // Social Area -->
                            </div>
                        </div>
                        <!-- // Blog Author -->

                        <!-- Blog Comments -->
                        <div class="blog-comment">
                            <h3>{{ post.validComment }} Commentaire(s)</h3>
                            <ol class="main-comment">
                            {% for comment in comments %}
                                {% if comment.commentState == true %}
                                    <li class="single-comment">
                                        <!-- Comment Content -->
                                        <div class="comment">
                                            <div class="comment-user-img" style="background-image: url(../{{comment.userImagePath}})"></div>
                                            <div class="comment-content">
                                                <h4>{{ comment.username }}</h4>
                                                <p class="comment-date">{{ comment.commentDate | date('d/m/Y') }}</p>
                                                {% if comment.content == 'Message modéré par l\'administration' %}
                                                    <p><i>{{ comment.content }}</i></p>
                                                {% else %}
                                                    <p>{{ comment.content }}</p>
                                                {% endif %} 
                                            </div>
                                        </div>
                                        <!-- // Comment Content -->
                                    </li>
                                {% endif %}
                            {% endfor %}
                            </ol>
                            <!-- Blog Comment Form -->
                            <div class="blog-comment-form mt-5">
                            {% if session is empty %}
                            <p class="mb-2">Vous devez <a href="http://localhost/Projet5/login">vous connecter </a>ou <a href="http://localhost/Projet5/creer-un-compte">créer un compte </a>pour commenter un article.</p>
                            {% endif %}
                                <form action="" method="post">
                                    <input type="hidden" name="token" id="token" value="{{ session.token }}">
                                    {% if constant('models\\Comment::INVALID_USERNAME') in comment.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            Vous devez ajouter un Pseudo !
                                        </div>
                                    {% endif %}
                                    <div class="col-lg-12" style="padding-right:0px; padding-left:0px;">
                                        <p><input type="text" name="username" placeholder="Pseudo" {{session ? 'readonly'}} value="{{ session.user.username }}"></p>
                                    </div>
                                    {% if constant('models\\Comment::INVALID_CONTENT') in comment.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            Vous devez ajouter un commentaire !
                                        </div>
                                    {% endif %}
                                    <p><textarea name="content" placeholder="Commentaire">{{ comment.errors is not empty ? comment.content }}</textarea></p>
                                    <div class="comment-btn text-center">
                                        <button class="button" type="submit">Commenter</button>
                                    </div>
                                </form>
                            </div>
                            <!-- // Blog Comment Form -->
                        </div>
                        <!-- // Blog Comments -->

                    </div>
                </div>
                <!-- // Blog Main Content -->
            </div>
        </div>
    </section>
{% endblock %}