{% extends "backend/layout.twig" %}

{% block content %}
<pre>
    {{ dump(admin) }}
</pre>
    <div class="row">
        <div class="col-lg-12" style="margin-bottom: 20px;">
            <h2 style="margin: 0 0 15px 0">Liste des articles</h2>
            <a href="admin/ajouter" class="mb-4 btn btn-primary">Ajouter un article</a>
            <table class="table table-striped" style="margin-bottom: 30px;">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de publication</th>
                        <th>Date de modification</th>
                        <th></th>
                        <th>Nouveau(x) commentaire(s)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for post in posts %}
                        <tr>
                            <td>{{ post.title }}</td>
                            <td>{{ post.author }}</td>
                            <td>{{ post.addingDate | date("d/m/Y") }}</td>
                            <td>{{ post.modifDate != post.addingDate ? post.modifDate | date("d/m/Y") }}</td>
                            <td>
                                <a href="admin/article/{{ post.slug }}-{{ post.id }}" class="btn btn-primary" style="margin: 2px;">Voir</a>
                                <a href="admin/modifier/{{ post.slug }}-{{ post.id }}" class="btn btn-primary" style="margin: 2px;">Modifier</a>
                                <a href="admin/supprimer/{{ post.slug }}-{{ post.id }}" class="btn btn-danger" style="margin: 2px;">Supprimer</a>
                            </td>
                            <td style="text-align: center;">{% if post.newComment != 0 %} <a href="admin/article/{{ post.slug }}-{{ post.id }}" class="btn btn-success">{% endif %}{{ post.newComment ? post.newComment }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-12">
            <h2 style="margin: 0 0 15px 0">Administrateur</h2>
            <table class="table table-striped" style="margin-bottom: 30px;">
                <thead>
                    <tr>
                        <th></th>
                        <th style="text-align:center;">Pseudo</th>
                        <th style="text-align:center;">Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="{{ admin.imagePath }}" class="avatar-img" alt="Photo de profil"></td>
                        <td style="text-align:center;">{{ admin.username }}</td>
                        <td style="text-align:center;">{{ admin.contactEmail }}</td>
                        <td style="text-align:center;">
                            <a href="" class="btn btn-primary" style="margin: 2px;">Voir</a>
                            <a href="" class="btn btn-primary" style="margin: 2px;">Modifier</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
