{% extends "layout.twig" %}

{% block image %}
    <div class="page-title bg-img section-padding bg-overlay" style="background-image: url(http://localhost/Projet5/public/assets/images/admin.jpg)">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <h2><small>Espace Administration</small></h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <section class="blog-section">
        <div class="container">
            <div class="text-center">
                <h2>Liste des articles</h2>
                <a href="admin/ajouter" class="mb-5 button btn-primary">Ajouter un article</a>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    <!-- Single Blog -->
                    {% for post in posts %}
                        <div class="col-sm-4">
                            <div class="single-blog">
                                <div class="blog-thumb" style="background-image: url({{post.imagePath}})"></div>
                                <h4 class="blog-title">{{post.title}}</h4>
                                <p class="blog-meta">De {{post.author}}, publié le {{post.addingDate | date('d/m/Y')}}{{ post.modifDate != post.addingDate ? ', modifié le ' ~ post.modifDate | date("d/m/Y") }}, {{post.validComment}} Commentaire(s)</p>
                                <p>{{post.teaser | slice(0, 200)}} [...]</p>
                                <a href="admin/article/{{post.slug}}-{{post.id}}" class="button">Voir</a>
                                <a href="admin/modifier/{{post.slug}}-{{post.id}}" class="button">Modifier</a>
                                <a href="admin/supprimer/{{post.slug}}-{{post.id}}" class="button">Supprimer</a>
                                {% if post.newComment != 0 %} <a href="admin/article/{{ post.slug }}-{{ post.id }}" class="button btn-success">{% endif %}{{ post.newComment ? post.newComment ~ ' nouveau(x) commentaire(s)'}} </a>
                            </div>
                        </div>
                    {% endfor %}
                    <!-- Single Blog -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
