{% extends "backend/layout.twig" %}

{% block css %}
        <!-- ====== ALL CSS ====== -->
        <link rel="stylesheet" href="../../public/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../public/assets/css/fontawesome-all.min.css">
        <link rel="stylesheet" href="../../public/assets/css/lightbox.min.css">
        <link rel="stylesheet" href="../../public/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="../../public/assets/css/animate.css">
        <link rel="stylesheet" href="../../public/css/style.css">
        <link rel="stylesheet" href="../../public/assets/css/responsive.css">
{% endblock %}

{% block logo %}
    <!-- Logo -->
    <a class="navbar-brand logo" href="index.html">
        <img src="../../public/assets/images/logo.png" alt="logo">
    </a>
    <!-- // Logo -->
{% endblock %}

{% block AdminHome %}<li class="nav-item active"><a class="nav-link" href="../../admin">ACCUEIL ADMINISTRATION</a></li>{% endblock %}
{% block home %}<li class="nav-item"><a class="nav-link" href="../../">RETOUR SITE</a></li>{% endblock %}

{% block image %}<div class="page-title bg-img section-padding bg-overlay" style="background-image: url(../../public/assets/images/breadcrumb.jpg)">{% endblock %}

{% block width %}<div class="container" style="max-width: 1400px; margin-top:0px; margin-bottom:0px;">{% endblock %}

{% block content %}
    <section class="blog-section">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Blog Main Content -->
                <div class="col-lg-8">
                    <div class="blog-post">
                        <img src= {{ getPath('../..', post.imagePath) }} alt="" class="blog-img">
                        <h4 class="blog-title"><a href="#">{{ post.title }}</a></h4>
                        <p class="blog-meta"><a class="user-name" href="#">De {{ post.author }}</a><span class="blog-date">Publié le {{ post.addingDate | date("d/m/Y") }}</span><a href="#" class="blog-comment">Comments (05)</a></p>
                        <div class="blog-main-content">
                            <p><strong>{{ post.teaser }}</strong></p>
                            <div style="margin-top: 20px;"><p>{{ post.content }}</p></div>
                        </div>

                        <!--  Blog Author -->
                        <div class="blog-author">
                            <div class="user-img" style="background-image: url(../../public/assets/images/team/img-1.jpg)"></div>
                            <div class="user-content">
                                <h2>{{ post.author }} <span>Graphic designer</span></h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, voluptas hic animi officiis corrupti velit commodi sed tempora reprehenderit.</p>
                                <!-- Social Area -->
                                <div class="social-aria text-left">
                                    <a target="_blank" href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-twitter"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-instagram"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-pinterest"></i></a>
                                    <a target="_blank" href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                                <!-- // Social Area -->
                            </div>
                        </div>
                        <!-- // Blog Author -->

                        <!-- Blog Comments -->
                        <div class="blog-comment">
                            <h3>Comments (05)</h3>
                            <ol class="main-comment">
                                <li class="single-comment">

                                    <!-- Comment Content -->
                                    <div class="comment">
                                        <div class="comment-user-img" style="background-image: url(../../public/assets/images/team/img-2.jpg)"></div>
                                        <div class="comment-content">
                                            <h4>Naeem Islam</h4>
                                            <p class="comment-date">20 Feb 2018</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nihil perspiciatis placeat minima dolores magnam odio voluptatibus non. Ratione, ut, fugit.</p>
                                            <a href="#"><i class="fa fa-reply"></i>Replay</a>
                                        </div>
                                    </div>
                                    <!-- // Comment Content -->

                                    <ol class="sub-comment">
                                        <li class="single-comment">
                                            <!-- Comment Content -->
                                            <div class="comment">
                                                <div class="comment-user-img" style="background-image: url(../../public/assets/images/team/img-1.jpg)"></div>
                                                <div class="comment-content">
                                                    <h4>AL Mamun</h4>
                                                    <p class="comment-date">20 Feb 2018</p>
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nihil perspiciatis placeat minima dolores magnam odio voluptatibus non. Ratione, ut, fugit.</p>
                                                    <a href="#"><i class="fa fa-reply"></i>Replay</a>
                                                </div>
                                            </div>
                                            <!-- // Comment Content -->
                                        </li>
                                    </ol>
                                </li>
                                <li class="single-comment">
                                    <!-- Comment Content -->
                                    <div class="comment">
                                        <div class="comment-user-img" style="background-image: url(../../public/assets/images/team/img-3.jpg)"></div>
                                        <div class="comment-content">
                                            <h4>Masud Rana</h4>
                                            <p class="comment-date">20 Feb 2018</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel nihil perspiciatis placeat minima dolores magnam odio voluptatibus non. Ratione, ut, fugit.</p>
                                            <a href="#"><i class="fa fa-reply"></i>Replay</a>
                                        </div>
                                    </div>
                                    <!-- // Comment Content -->
                                </li>
                            </ol>
                        </div>
                        <!-- // Blog Comments -->

                    </div>
                </div>
                <!-- // Blog Main Content -->
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    <!-- ====== ALL JS ====== -->
    <script src="../../public/assets/js/jquery-3.3.1.min.js"></script>
    <script src="../../public/assets/js/bootstrap.min.js"></script>
    <script src="../../public/assets/js/lightbox.min.js"></script>
    <script src="../../public/assets/js/owl.carousel.min.js"></script>
    <script src="../../public/assets/js/jquery.mixitup.js"></script>
    <script src="../../public/assets/js/wow.min.js"></script>
    <script src="../../public/assets/js/typed.js"></script>
    <script src="../../public/assets/js/main.js"></script>
{% endblock %}